{debug, true}.
{wm_tracer_node, 'wmtracer'}.

%% These options are documented in mochiweb_socket_server (!!)
%% and apparently are mostly not used by webmachine. Except dispatch.
{wm_config, [
    {ip, "0.0.0.0"},
    {port, 5228},
    {log_dir, ""}, % Will be changed by test suite to ct's priv_dir
    {dispatch, [
        {["gcm", "send"], gcm_sim_resource, []}
    ]}
    %TODO: Figure out https support.
    %{ssl, true},
    %{ssl_opts, [
    %        {certfile, CertFile},
    %        {cacertfile, CACertFile},
    %        {keyfile, KeyFile}
    %    ]
    %}
]}.

