%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% Platform-specific installation paths
{platform_log_dir,  "log"}.

%%
%% sys.config
%%
{sasl_error_log,    "{{platform_log_dir}}/sasl-error.log"}.
{sasl_log_dir,      "{{platform_log_dir}}/sasl"}.

{sim_log_level,     "debug"}.
{sim_log_dir,       "{{platform_log_dir}}"}.
